@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }

  /* Change color to yellow for Contact */
  .headerSedenavLi:nth-of-type(4) a {
    color: cream !important; /* Add !important to override any conflicting styles */
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: cream; /* Set the default color to cream */
  font-weight: 600;
  text-decoration: underline black;
}

nav .active li:hover { /* Change color to cream on hover */
  color: black;
}

nav .active li:nth-child(4) { /* Targeting the fourth child, which corresponds to the "Contact" link */
  color: yellow; /* Changing the color to yellow */
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: cream;
    font-weight: 600;
    text-decoration: 1px underline cream;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* ============= NavLink active End here ================ */

/* Changing any instances of red to white */
.red-text { /* If you have a class with red text */
  color: white; /* Change red to white */
}

.some-other-class {
  /* Other styles here */
  color: white; /* Replace red with white */
}
